# ⎯⎯ Bot Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
BOT_TOKEN=your_bot_token_here

# ⎯⎯ Logging Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
LOGGING_BOT_TOKEN=
LOGGER_CHAT_ID=0
LOG_LEVEL=INFO

# ⎯⎯ Database Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
SQLITE_DB_PATH=./.data/data.sqlite
SQLITE_SCHEMA_PATH=./src/models/schemas/bot_schema.sql
STATE_STORAGE_PATH=./.data/states.pkl

# ⎯⎯ Timezone Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
UTC_OFFSET=8

# ⎯⎯ Admin Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
ADMIN_IDS=admin_id_1,admin_id_2,etc...

# ⎯⎯ Rate Limiting ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
RATE_LIMIT_COMMAND_SECONDS=3
RATE_LIMIT_CALLBACK_SECONDS=3

# ⎯⎯ API Security ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
OAUTH_CALLBACK_ROUTE_BEARER_TOKEN=very_secret_token

# ⎯⎯ Bot Mode ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
# Set to "true" for polling, "false" for webhook
USE_POLLING=true

# ⎯⎯ Webhook Configuration ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
# Only needed if USE_POLLING=false
WEBHOOK_HOST=public_server_ip
WEBHOOK_PORT=8443
WEBHOOK_LISTEN=0.0.0.0
WEBHOOK_LISTEN_PORT=8443
WEBHOOK_SECRET_TOKEN=very_secret_token
WEBHOOK_PATH_PREFIX=/optional/webhook/path

# ⎯⎯ SSL Certificates (leave empty if using reverse proxy) ⎯⎯⎯⎯⎯⎯⎯⎯
WEBHOOK_SSL_CERT=
WEBHOOK_SSL_PRIV=
